body {
	background-color: #f4f3e8;
}
#header{
	height: 122px;
	background: url("../photos/general/headerbackground.jpg") repeat-x bottom center;
}
.content {
	max-width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.page-header {
	float: right;
	padding-bottom: 0px;
	margin-right: 20px;
	margin-top: 40px;
	border-bottom: 0px;
	color: white;
}
.navbar {
	border-radius: 0px;
	border: 0px;
	margin-bottom: 0px;
}

#home-carousel {
	max-width: 100%;
	width: 960px;
}
.row {
	max-width: 960px 
}
.quick-links {
	padding-top: 5px;
}
.item {
	padding-left: 0px;
	padding-right: 0px; 
}
.middle-item {
	padding-left: 5px; 
	padding-right: 5px; 
}
.list {
	margin-bottom: -15px;
}
.sponsor-slide {
	min-height: 175px;
}
.side-nav {
	margin-top: 10px;
}
figcaption {
	text-align: center;
	font-size: 75%;
}
.main-content {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.media-row {
	margin-top: 10px;
	margin-bottom: 10px;
}
.white {
	background-color: white;
}