body {
	background-color: #E6E6E6;
}
#header{
	height: 122px;
	background: url("photos/headerbackground.jpg") repeat-x bottom center;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
}
.page-header {
	float: right;
	padding-bottom: 0px;
	margin-right: 20px;
	margin-top: 30px;
	border-bottom: 0px;
	color: white;
}